
/* Your CSS Code here. */
.holder{
	display:flex;
	gap:10px;
	flex-wrap:wrap;
}

.item{
	height:100px;
	width:100px;
	background-color:green;
}
.item-five{
	height:100px;
	width:100px;
	background-color:green;
}
.item-six{
	height:100px;
	width:100px;
	background-color:red;
}
.item-seven{
	height:100px;
	width:100px;
	background-color:blue;
}



