
/* Your CSS Code here. */
.holder{
	display:flex;
	justify-content: space-between;
	flex-wrap:wrap;
}

.item{
	height:90px;
	width:90px;
	font-size: 40px;
	background-color:green;
}
.item-three{
	height:90px;
	width:90px;
	font-size: 40px;
	background-color:green;
}
.item-one{
	height:90px;
	width:90px;
	background-color:red;
	font-size: 40px;
}
.item-two{
	height:90px;
	width:90px;
	background-color:blue;
	font-size: 40px;

}



